 html, body {
    display: flex;
    justify-content: center;
    align-items: center;
  
    
    overflow: hidden;
    /* transform: scale(1.5); */
}
body{
  background-image: url("picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-position: center;
  


}
/* button  */
.button{
    padding: 15px 40px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    margin: 100%;
    border-radius: 12px;
   

}
.button::after{
    content: "";
    z-index: -1;
    position:absolute ;
    width:100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.button::before{
    content: "";
    background: linear-gradient(
      45deg,
      #00ffaa, #0051ffdf, #102e86, #020c57,
      #472b84, #22045b, #b317b6, #dfeb38d0
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px );
    filter: blur(8px);
     animation: glowing 20s linear infinite ;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;

} 
 


 @keyframes glowing{
    0%{
        background-position: 0 0 ;
    }
    50%{
        background-position: 400% 0 ;
    }
    100%{
        background-position: 0 0 ;
    }
}
/* hover */
 .button:hover::before{
    opacity: 1;
}
.button:active::after{
    background: transparent;
}
.button:active{
    color: #000;
    font-weight: bold;
} 